<!-- START _login_error.html.erb -->
<!-- 
HISTORY
Wed Aug  7 20:29:07 UTC 2013 BFH v0.7, first version
-->
      <h2 class="title" id="page-title"><%= t('error_page.title') %></h2>
      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
	<h3><%= t('error_page.subtitle') %></h3>
	<p><%= t('error_page.paragraph1') %></p>
	<p><a href="<%= AppConfig.error_page['supporturl'] %>"><%= t('error_page.support')%></a></p>
    </div> <!-- end of node-1 -->

<!-- END _login_error.html.erb -->
