<!-- START _login_profile_edit.html.erb -->
<!-- 
HISTORY
Sat Aug  3 20:40:24 UTC 2013 BFH v0.6, actual profile support starts
Sun Jul 21 14:40:18 UTC 2013 BFH v0.2, first version
-->

      <h2 class="title" id="page-title"><%= t('profile_page.title') %></h2>
      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
	<h3><%= t('profile_page.subtitle') %></h3>
	<p><%= t('profile_page.paragraph1') %></p>
        <!-- profile update form definition begins -->
        <%= form_tag "/profsave" do  %>
	<table class="dbi-profile">
	<%=
	  output = Array.new
	  session.sort.each do |sortkey, datakey|
	      next unless sortkey.match(/^up_sort/)
	      v = session[datakey]
              if v.blank?
		  tmp = ''
              else
		  tmp = v
              end
	      k = datakey
	      access_key = k + '_access'
	      length_key = k + '_length_hint'
	      width = AppConfig.profile["value_col_width"]
	      unless session[length_key] == 0
	          width = session[length_key]
	      end
              output.push('<tr><td width="' + AppConfig.profile["name_col_width"] + 
		          '"><strong>', k[3, k.length - 3], '</strong></td><td><div class="field">')
              if session[access_key].match(/WRITE/i)
		  output.push(text_field_tag(k, v, "size" => width))
              else
		  output.push(v)
              end
              output.push('</div></td></tr>')
	  end # for every key of the session hash
	  raw(output.join("\n"))
	%>
        </table>
	<table>
	<tr>
	  <td>
	    <%= submit_tag t('profile_page.buttons.savetext') %>
        <!-- form definition ends -->
	<% end %>
	  </td>
	  <td>
	    <%= button_to t('profile_page.buttons.canceltext'), '/profshow', :action => 'profshow' %>
	  </td>
	</tr>
        </table>
    </div> <!-- end of node-1 -->

<!-- END _login_profile_edit.html.erb -->
