<!-- START _login_password_forgot.html.erb -->
<!-- 
HISTORY
Mon Aug 12 13:48:18 UTC 2013 BFH v0.7, first version
-->
      <%=
	# don't keep the error state
        tmp = session.delete(:error)
	nil
       %>
      <h2 class="title" id="page-title"><%= t('forgot_page.title') %></h2>
      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
	<h3><%= t('forgot_page.subtitle') %></h3>
	<p>
	  <%= t('forgot_page.paragraph1') %>
        </p>
        <!-- password reset form definition begins -->
        <%= form_tag("/pwrdforgot2", :method=>'post', :multipart=>true)  do %> 
        <table>
          <tr>
            <td><%= t('front.loginbox.user') %></td>
            <td>
              <%= text_field_tag 'uidreset', params[:uidreset], :maxlength => 16, :size => 16 %> 
            </td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <b> <%= submit_tag t('forgot_page.buttontext') %> </b>
	<% end %>
            </td>
          </tr>
        </table>
    </div> <!-- end of node-1 -->

<!-- END _login_password_forgot.html.erb -->
