<!-- START _login_password_edit.html.erb -->
<!-- 
HISTORY
Sat Aug  3 20:40:24 UTC 2013 BFH v0.6, actual password support starts
Sun Jul 21 14:40:18 UTC 2013 BFH v0.2, first version
-->

      <h2 class="title" id="page-title"><%= t('password_page.title') %></h2>
      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
	<h3><%= t('password_page.subtitle') %></h3>
	<p>
	  <%= t('password_page.paragraph1') %>
        </p>
        <!-- password update form definition begins -->
        <%= form_tag("/pwrdsave", :method=>'post', :multipart=>true)  do %> 
        <table>
          <tr>
            <td><%= t('password_page.new1text') %></td>
            <td>
              <%= password_field_tag 'newpass1', '', :maxlength => 16, :size => 16 %> 
            </td>
          </tr>
          <tr>
            <td><%= t('password_page.new2text') %></td> 
            <td>
              <%= password_field_tag 'newpass2', '', :maxlength => 16, :size => 16 %>
	    </td>
          </tr>
          <tr>
            <td colspan="1" align="center">
              <b> <%= submit_tag t('password_page.buttons.updatetext') %> </b>
	<% end %>
            </td>
            <td colspan="1" align="center">
	      <%= button_to t('profile_page.buttons.canceltext'), '/profshow', :action => 'login' %>
          </tr>
        </table>
    </div> <!-- end of node-1 -->

<!-- END _login_password_edit.html.erb -->
