<!-- START _login_password_reset.html.erb -->
<!-- 
HISTORY
Mon Aug 12 14:25:47 UTC 2013 BFH v0.7, first version
-->

      <h2 class="title" id="page-title"><%= t('reset_page.title') %></h2>
      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
	<h3><%= t('reset_page.subtitle') %></h3>
	<p>
	  <%=
	   text = t('reset_page.paragraph1')
	   if session[:pwrderror]
	       session[:pwrderror] = nil
               text = '<span style="color: red;">' + session[:errorDescription] + '</span>'
	       raw(text)
	   else
	       text
	   end
	   %>
        </p>
        <!-- password reset form definition begins -->
        <%= form_tag("/pwrdreset2", :method=>'post', :multipart=>true)  do %> 
        <table>
          <tr>
            <td>
	      <%= t('reset_page.challengetext') %>
	    </td>
            <td>
              <%= text_field_tag 'challenge', params['challenge'], :maxlength => 20, :size => 20 %> 
            </td>
          </tr>
          <tr>
            <td><%= t('front.loginbox.user') %></td>
            <td>
              <%= text_field_tag 'uid', params[:uid], :maxlength => 16, :size => 16 %> 
            </td>
          </tr>
          </tr>
          <tr>
            <td>
	      <%= t('password_page.new1text') %>
	    </td>
            <td>
              <%= password_field_tag 'newpass1', '', :maxlength => 16, :size => 16 %> 
            </td>
          </tr>
          <tr>
            <td><%= t('password_page.new2text') %></td> 
            <td>
              <%= password_field_tag 'newpass2', '', :maxlength => 16, :size => 16 %>
	    </td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <b> <%= submit_tag t('reset_page.buttontext') %> </b>
	<% end %>
            </td>
          </tr>
        </table>
    </div> <!-- end of node-1 -->

<!-- END _login_password_reset.html.erb -->
