<!-- START _login_profile_show.html.erb -->
<!-- 
HISTORY
Sat Aug  3 20:40:24 UTC 2013 BFH v0.6, actual profile support starts
Sun Jul 21 14:40:18 UTC 2013 BFH v0.2, first version
-->

      <h2 class="title" id="page-title"><%= t('profile_page.title') %></h2>
      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
	<h3><%= t('profile_page.subtitle') %></h3>
	<p><%= t('profile_page.paragraph1') %></p>
	<p>
	  <%= saveProfile %>
	  <%= showProfile %>
        </p>
	<table>
	<tr><td>
	<%= button_to t('profile_page.buttons.updatetext'), "/login?profile=edit", :method => "post" %>
	</td><td>
	<%= button_to t('profile_page.buttons.passwordtext'), "/login?password=edit", :method => "post" %>
	</td></tr></table>
    </div> <!-- end of node-1 -->

<!-- END _login_profile_show.html.erb -->
