<!-- START _new_project_3.html.erb -->

<script type="text/javascript">
  <!-- window.I18n = <%= I18n.backend.send(:translations).to_json.html_safe %> this requires prefixing with locale -->
  window.I18n = <%= current_translations.to_json.html_safe %>
</script>

<% # figure out which step this is: 0=intro, 1=project leader, 2=project
   myaction = params[:action]
   step = myaction[/\d+$/]
   step = 0.to_i if step.nil?
   next_step = (step.to_i + 1.to_i)
   url = '/newproject' + next_step.to_s
   options = Hash.new
   options['tabindex'] = 0
   # options['required'] = 'required' # let the javascript handle this
   options['onclick'] = 'np3ok();';
 %>

      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
        <!-- new project request form definition begins -->
        <%= form_tag(url, "id" => "form3")  do %>
	<%= # preserve fields from the previous form
            hides = Array.new
            params.each do |k, v|
              next unless (k[0,2] == 'f_')
	      hides.push(hidden_field_tag(k, v))
            end
	    raw(hides.join("\n"))
	 %>
	<table class="dbi-profile">
	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.proj_name.description') %>"><%= t('newproject.form.proj_name.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.proj_name.len')
		 text_field_tag 'f_proj_name', params['f_proj_name'], options
	        %>
	    </td>
	    <td width="40">
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.proj_plan.description') %>"><%= t('newproject.form.proj_plan.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options.delete("size") if options.has_key?('size')
		 options['rows'] = t('newproject.form.proj_plan.rows')
		 options['cols'] = t('newproject.form.proj_plan.cols')
		 text_area_tag 'f_proj_plan', params['f_proj_plan'], options
	        %>
		<% options.delete("rows"); options.delete("cols") %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.proj_url.description') %>"><%= t('newproject.form.proj_url.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.proj_url.len')
		 text_field_tag 'f_proj_url', params['f_proj_url'], options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.proj_org_type.description') %>"><%= t('newproject.form.proj_org_type.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options.delete('size') if options.has_key?('size')
	         select_tag 'f_proj_org_type', options_for_select(t('newproject.form.proj_org_type.options').invert.sort), options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.proj_res_focus.description') %>"><%= t('newproject.form.proj_res_focus.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options.delete('size') if options.has_key?('size')
		 text_field_tag 'f_job', params['f_job'], options
	         select_tag 'f_proj_res_focus', options_for_select(t('newproject.form.proj_res_focus.options').invert.sort), options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.proj_funding.description') %>"><%= t('newproject.form.proj_funding.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options.delete('size') if options.has_key?('size')
		 text_field_tag 'f_job', params['f_job'], options
	         select_tag 'f_proj_funding', options_for_select(t('newproject.form.proj_funding.options').invert.sort), options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.proj_listing.description') %>"><%= t('newproject.form.proj_listing.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options.delete('size') if options.has_key?('size')
		 text_field_tag 'f_job', params['f_job'], options
		 tkey = 'newproject.form.proj_listing.options';
	         #select_tag 'f_proj_listing', options_for_select(t(tkey).invert.sort), options
	         select_tag 'f_proj_listing', options_for_select(t(tkey))
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

        </table>
	<!-- end of form -->
    </div> <!-- end of node-1 -->
    <table width="100%"> <!-- keep the navigation tidy -->
      <tr>
        <td width="50%">
          <%= submit_tag t('newproject.back_prompt'), :onclick=> "return submitto('" + @back_url + "');" %>
	</td>
	<td width="50%">
         <div data-toggle="popover" id="next_button_div_3" title="<%= t('newproject.form.initial_error_text') %>">
	   <p align="right">
             <%= submit_tag t('newproject.next_prompt'), :disabled => true, :id => "next_button_3", :onclick => "np30ok();"  %> 
	   </p>
	 </div>
	</td>
      </tr>
    </table> <!-- navigation table -->
<% end %>
<!-- END _new_project_3.html.erb -->
