<!-- START _new_project_2.html.erb -->

<% # figure out which step this is: 0=intro, 1=project leader, 2=project
   myaction = params[:action]
   step = myaction[/\d+$/]
   step = 0.to_i if step.nil?
   next_step = (step.to_i + 1.to_i)
   url = '/newproject' + next_step.to_s
   req_tag = '<span style="color: red;"><font size="+3">*</font></span>'
   options = Hash.new
   options['tabindex'] = 0
   options['required'] = 'required'

   # figure out the next description
   key = 'newproject.next' + next_step.to_s + '_link_text'
   next_desc = t(key)

logger.debug params.inspect
 %>

      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
        <!-- new project request form definition begins -->
        <%= form_tag(url, "id" => "form2")  do %>
	<%= # preserve fields from the previous form
            hides = Array.new
            params.each do |k, v|
              next unless (k[0,2] == 'f_')
	      hides.push(hidden_field_tag(k, v))
            end
	    raw(hides.join("\n"))
	 %>
	<table class="dbi-profile">
	  <tr>
	    <td>
	      <%= t('newproject.form.name.label') %>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.name.len')
		 if t('newproject.form.name.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_name', params['f_name'], options
	        %>
	    </td>
	    <td width="40">
	      <% if t('newproject.form.name.description') %>
	      <a href="#" onclick="javascript:alert('<%= t('newproject.form.name.description').gsub("'", %q(\\\'))%>'); return false;"><%= image_tag('info.png',{'size' => "20x20", 'alt' => "Help"})%></a>
	      <% end %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.email.label') %>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.email.len')
		 if t('newproject.form.email.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_email', params['f_email'], options
	        %>
	    </td>
	    <td>
	      <% if t('newproject.form.email.description') %>
	      <a href="#" onclick="javascript:alert('<%= t('newproject.form.email.description').gsub("'", %q(\\\'))%>'); return false;"><%= image_tag('info.png',{'size' => "20x20", 'alt' => "Help"})%></a>
	      <% end %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.telno.label') %>
	    </td>
	    <td>
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.telno.len')
		 if t('newproject.form.telno.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_telno', params['f_telno'], options
	        %>
	    </td>
	    <td>
	      <% if t('newproject.form.telno.description') %>
	      <a href="#" onclick="javascript:alert('<%= t('newproject.form.telno.description').gsub("'", %q(\\\'))%>'); return false;"><%= image_tag('info.png',{'size' => "20x20", 'alt' => "Help"})%></a>
	      <% end %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.job.label') %>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.job.len')
		 if t('newproject.form.job.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_job', params['f_job'], options
	        %>
	    </td>
	    <td>
	      <% if t('newproject.form.job.description') %>
	      <a href="#" onclick="javascript:alert('<%= t('newproject.form.job.description').gsub("'", %q(\\\'))%>'); return false;"><%= image_tag('info.png',{'size' => "20x20", 'alt' => "Help"})%></a>
	      <% end %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.org_name.label') %>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.org_name.len')
		 if t('newproject.form.org_name.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_job', params['f_job'], options
	        %>
	    </td>
	    <td>
	      <% if t('newproject.form.org_name.description') %>
	      <a href="#" onclick="javascript:alert('<%= t('newproject.form.org_name.description').gsub("'", %q(\\\'))%>'); return false;"><%= image_tag('info.png',{'size' => "20x20", 'alt' => "Help"})%></a>
	      <% end %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.org_abbrev.label') %>
	    </td>
	    <td>
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.org_abbrev.len')
		 if t('newproject.form.org_abbrev.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_org_abbrev', params['f_org_abbrev'], options
	        %>
	    </td>
	    <td>
	      <% if t('newproject.form.org_abbrev.description') %>
	      <a href="#" onclick="javascript:alert('<%= t('newproject.form.org_abbrev.description').gsub("'", %q(\\\'))%>'); return false;"><%= image_tag('info.png',{'size' => "20x20", 'alt' => "Help"})%></a>
	      <% end %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.org_url.label') %>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.org_url.len')
		 if t('newproject.form.org_url.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_org_url', params['f_org_url'], options
	        %>
	    </td>
	    <td>
	      <% if t('newproject.form.org_url.description') %>
	      <a href="#" onclick="javascript:alert('<%= t('newproject.form.org_url.description').gsub("'", %q(\\\'))%>'); return false;"><%= image_tag('info.png',{'size' => "20x20", 'alt' => "Help"})%></a>
	      <% end %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td><hr></td>
	    <td colspan="1" align="center">
	      <center><%= t('newproject.form.postal.label') %></center>
	    </td>
	    <td>
	      <% if t('newproject.form.postal.description') %>
	      <a href="#" onclick="javascript:alert('<%= t('newproject.form.postal.description').gsub("'", %q(\\\'))%>'); return false;"><%= image_tag('info.png',{'size' => "20x20", 'alt' => "Help"})%></a>
	      <% end %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.postal.addr1.label') %>
	    </td>
	    <td colspan="2">
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.addr1.len')
		 if t('newproject.form.postal.addr1.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_addr1', params['f_addr1'], options
	       %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.postal.addr2.label') %>
	    </td>
	    <td colspan="2">
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.addr2.len')
		 if t('newproject.form.postal.addr2.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_addr2', params['f_addr2'], options
	       %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.postal.city.label') %>
	    </td>
	    <td colspan="2">
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.city.len')
		 if t('newproject.form.postal.city.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_city', params['f_city'], options
	       %>
	      <%= raw(tag) %>

	      <%= t('newproject.form.postal.state.label') %>
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.state.len')
		 if t('newproject.form.postal.state.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_state', params['f_state'], options
	       %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.postal.zip.label') %>
	    </td>
	    <td colspan="2">
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.zip.len')
		 if t('newproject.form.postal.zip.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_zip', params['f_zip'], options
	       %>
	      <%= raw(tag) %>

	      <%= t('newproject.form.postal.country.label') %>
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.country.len')
		 if t('newproject.form.postal.country.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_country', params['f_country'], options
	       %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr><td><hr></td><td colspan="2"></td></tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.user_name.label') %>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.user_name.len')
		 if t('newproject.form.user_name.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 text_field_tag 'f_user_name', params['f_user_name'], options
	        %>
	    </td>
	    <td>
	      <% if t('newproject.form.user_name.description') %>
	      <a href="#" onclick="javascript:alert('<%= t('newproject.form.user_name.description').gsub("'", %q(\\\'))%>'); return false;"><%= image_tag('info.png',{'size' => "20x20", 'alt' => "Help"})%></a>
	      <% end %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.password1.label') %>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.password1.len')
		 if t('newproject.form.password1.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 password_field_tag 'f_password1', params['f_password1'], options
	        %>
	    </td>
	    <td>
	      <% if t('newproject.form.password1.description') %>
	      <a href="#" onclick="javascript:alert('<%= t('newproject.form.password1.description').gsub("'", %q(\\\'))%>'); return false;"><%= image_tag('info.png',{'size' => "20x20", 'alt' => "Help"})%></a>
	      <% end %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.password2.label') %>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.password2.len')
		 if t('newproject.form.password2.required') == 'yes'
		   options['required'] = 'required'
		   tag = req_tag
		 else
		   options.delete('required') if options.has_key?('required')
		   tag = ""
		 end
		 password_field_tag 'f_password2', params['f_password2'], options
	        %>
	    </td>
	    <td>
	      <% if !t('newproject.form.password2.description').blank? %>
	      <a href="#" onclick="javascript:alert('<%= t('newproject.form.password2.description').gsub("'", %q(\\\'))%>'); return false;"><%= image_tag('info.png',{'size' => "20x20", 'alt' => "Help"})%></a>
	      <% end %>
	      <%= raw(tag) %>
	    </td>
	  </tr>

        </table>
	<!-- end of form -->
    </div> <!-- end of node-1 -->
    <table width="100%"> <!-- keep the navigation tidy -->
      <tr>
        <td>
	  <%= link_to t('newproject.back_prompt'), @back_url %>
	  <!-- cancel_link -->
	</td>
        <td>
	  <cite>
            <%= @back_desc %>
	  </cite>
	</td>
	<td>
	  <cite>
            <%= next_desc %>
	  </cite>
          <%= submit_tag t('newproject.next_prompt') %>
	</td>
      </tr>
    </table> <!-- navigation table -->
<% end %>
<!-- END _new_project_2.html.erb -->
