<!-- START _new_project_2.html.erb -->

<script type="text/javascript">
  <!-- window.I18n = <%= I18n.backend.send(:translations).to_json.html_safe %> this requires prefixing with locale -->
  window.I18n = <%= current_translations.to_json.html_safe %>
</script>

<% # figure out which step this is: 0=intro, 1=project leader, 2=project
   myaction = params[:action]
   step = myaction[/\d+$/]
   step = 0.to_i if step.nil?
   next_step = (step.to_i + 1.to_i)
   url = '/newproject' + next_step.to_s
   options = Hash.new
   options['tabindex'] = 0
   # options['required'] = 'required' -- let the javascript handle this
   options['onclick'] = 'np2ok();'

   # get the appropriate static text based on usage type
   tk = 'newproject.form.header2.' + params['f_usage_type']
 %>

      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
        <!-- static text variables by role -->
	<%= simple_format add_urls(t(tk)) %>

        <!-- new project request form definition begins -->
        <%= form_tag(url, "id" => "form2")  do %>
	<%= # preserve fields from the previous form
            hides = Array.new
            params.each do |k, v|
              next unless (k[0,2] == 'f_')
	      hides.push(hidden_field_tag(k, v))
            end
	    raw(hides.join("\n"))
	 %>
	<table class="dbi-profile">
	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.name.description') %>"><%= t('newproject.form.name.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.name.len')
		 text_field_tag 'f_name', params['f_name'], options
	        %>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.email.description') %>"><%= t('newproject.form.email.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.email.len')
		 text_field_tag 'f_email', params['f_email'], options
	        %>
	    </td>
	    <td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.telno.description') %>"><%= t('newproject.form.telno.label')%></div>
	    </td>
	    <td>
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.telno.len')
		 text_field_tag 'f_telno', params['f_telno'], options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.job.description') %>"><%= t('newproject.form.job.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.job.len')
		 text_field_tag 'f_job', params['f_job'], options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.org_name.description') %>"><%= t('newproject.form.org_name.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.org_name.len')
		 text_field_tag 'f_org_name', params['f_org_name'], options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.org_abbrev.description') %>"><%= t('newproject.form.org_abbrev.label')%></div>
	    </td>
	    <td>
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.org_abbrev.len')
		 text_field_tag 'f_org_abbrev', params['f_org_abbrev'], options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.org_url.description') %>"><%= t('newproject.form.org_url.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.org_url.len')
		 text_field_tag 'f_org_url', params['f_org_url'], options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td><hr></td>
	    <td colspan="1" align="center">
	      <center>
                <div data-toggle="popover" title="<%= t('newproject.form.postal.description') %>"><%= t('newproject.form.postal.label')%></div>
	      </center>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.postal.addr1.label') %>
	    </td>
	    <td colspan="2">
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.addr1.len')
		 text_field_tag 'f_addr1', params['f_addr1'], options
	       %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.postal.addr2.label') %>
	    </td>
	    <td colspan="2">
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.addr2.len')
		 text_field_tag 'f_addr2', params['f_addr2'], options
	       %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.postal.city.label') %>
	    </td>
	    <td colspan="2">
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.city.len')
		 text_field_tag 'f_city', params['f_city'], options
	       %>

	      <%= t('newproject.form.postal.state.label') %>
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.state.len')
		 text_field_tag 'f_state', params['f_state'], options
	       %>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <%= t('newproject.form.postal.zip.label') %>
	    </td>
	    <td colspan="2">
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.zip.len')
		 text_field_tag 'f_zip', params['f_zip'], options
	       %>

	      <%= t('newproject.form.postal.country.label') %>
	      <%=
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.postal.country.len')
		 text_field_tag 'f_country', params['f_country'], options
	       %>
	    </td>
	  </tr>

	  <tr><td><hr></td><td colspan="2"></td></tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.user_name.description') %>"><%= t('newproject.form.user_name.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.user_name.len')
		 text_field_tag 'f_user_name', params['f_user_name'], options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.password1.description') %>"><%= t('newproject.form.password1.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.password1.len')
		 #options['required'] = 'required'  # if this is required, can't go back :-(
		 password_field_tag 'f_password1', params['f_password1'], options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

	  <tr>
	    <td>
              <div data-toggle="popover" title="<%= t('newproject.form.password2.description') %>"><%= t('newproject.form.password2.label')%></div>
	    </td>
	    <td>
	      <%= 
		 options['tabindex'] += 1
		 options['size'] = t('newproject.form.password2.len')
		 password_field_tag 'f_password2', params['f_password2'], options
	        %>
	    </td>
	    <td>
	    </td>
	  </tr>

        </table>
	<!-- end of form -->
    </div> <!-- end of node-1 -->
    <table width="100%"> <!-- keep the navigation tidy -->
      <tr>
        <td>
          <%= submit_tag t('newproject.back_prompt'), :id => ("back_" + @back_url), :name => ("back_" + @back_url)  %>
	</td>
	<td>
         <div data-toggle="popover" id="next_button_div_2" title="<%= t('newproject.form.initial_error_text') %>">
	   <p align="right">
             <%= submit_tag t('newproject.next_prompt'), :disabled => true, :id => "next_button_2", :onclick => "np2ok();" %> 
	   </p>
	 </div>
	</td>
      </tr>
    </table> <!-- navigation table -->
<% end %>
<!-- END _new_project_2.html.erb -->
