<!-- START _new_project_0.html.erb -->

<script type="text/javascript">
  <!-- window.I18n = <%= I18n.backend.send(:translations).to_json.html_safe %> this requires prefixing with locale -->
  window.I18n = <%= current_translations.to_json.html_safe %>
</script>

<% # figure out which step this is: 0=info, 1=id self, 2=intro, 3=project leader, 4=project
   myaction = params[:action]
   step = myaction[/\d+$/]
   step = 0.to_i if step.nil?
   next_step = (step.to_i + 1.to_i)
   url = '/newproject' + next_step.to_s
   options = Hash.new
   options['tabindex'] = 0
   #options['required'] = 'required'
   cb1_val = params['f_cb1'].nil? ? false : true
   cb2_val = params['f_cb2'].nil? ? false : true
 %>

    <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
    <%= simple_format add_urls(t('newproject.intro')) %>
    <%= form_tag(url, "id" => "form0")  do %>
	<%= # preserve fields from the previous form
            hides = Array.new
            params.each do |k, v|
              next unless (k[0,2] == 'f_')
	      hides.push(hidden_field_tag(k, v))
            end
	    raw(hides.join("\n"))
	 %>
    <p>
    <%= check_box_tag('f_cb1','f_cb1', false, :checked => cb1_val, :onclick => "np0ok();") %> <%= t('newproject.info.cb1_text') %>
    <br>
    <%= check_box_tag('f_cb2','f_cb2', false, :checked => cb2_val, :onclick => "np0ok();") %> <%= t('newproject.info.cb2_text') %>
    </p>
    </div> <!-- end of node-1 -->

    <table width="100%"> <!-- keep the navigation tidy -->
      <tr>
        <td width="50%">
          <%= submit_tag 'Cancel', :onclick => "return cancel();" %>
	</td>
	<td width="50%">
         <div                  id="next_button_div_0"
	      data-original-title="<%= t('newproject.form.error_title') %>"
	             data-content="<%= t('newproject.form.initial_error_text') %>" 
		      data-toggle="popover"
		            class="has-popover"
              >
	   <p align="right">
             <%= submit_tag t('newproject.next_prompt'), :disabled => true, :id => "next_button_0", :onfocus => "np0ok();" %>
	   </p>
         </div>
	</td>
      </tr>
    </table> <!-- navigation table -->
    <% unless params[:alert].nil? && params[:alert].blank? %>
    <span style="color:red;"><%= params[:alert] %></span>
    <% end %>
    <% end %> <!-- end of form0 -->
<!-- END _new_project_0.html.erb -->
