<!-- START index.html.erb -->
<!-- 
HISTORY
Wed Aug  7 14:22:08 UTC 2013 BFH v0.7, massive overhaul to put code into controllers
Sat Aug  3 20:40:24 UTC 2013 BFH v0.6, actual profile support starts
Sat Jul 27 18:46:26 UTC 2013 BFH v0.3, start to enforce logged-in-ness
Thu Jul 25 14:13:21 UTC 2013 BFH v0.2, polish UI for review
Sun Jul 21 14:31:10 UTC 2013 BFH v0.2, try a SOAP transaction: echo, with args
Fri Jul 19 13:22:13 UTC 2013 BFH v0.2, try a SOAP transaction: getVersion, no args
Thu Jul 18 15:40:08 UTC 2013 BFH v0.2, moving to partial views to reflect state
Wed Jul 17 13:43:54 UTC 2013 BFH v0.2, more localization
Tue Jul 16 14:02:06 UTC 2013 BFH v0.2, moving toward single, stateful page & localization
Sun Jul 14 16:16:58 UTC 2013 BFH v0.1, adapt http://info.deterlab.net
-->

<div id="header">
  <div class="wrapper">
    <div id="headerinner">
      <div id="headercontent">
        <h1 id="site-name"><a href="/" title="Home" rel="home" id="masthead_link"></a></h1>
        <div id="headerlinks">
          <div class="block top-region menu-block clear-block" id="block-menu-menu-header-links">
            <ul class="menu">
              <li class="leaf"><a href="<%= AppConfig.headlinenav['contacturl'] %>"><%= t('headerlinenav.contact')%></a></li>
              <li class="leaf last"><a href="<%= AppConfig.headlinenav['deterprojecturl'] %>"><%= t('headerlinenav.deterproject')%></a></li>
              <li class="leaf first active-trail">
                <%= 
                 # possible states: 0=not logged in, 1=error logging in, 2=logged in, 3=logout, 4=timed out
                 rc = loginStatus
	         if rc == 2
		     link_to('Log Out', '/logout')
	         else
                     link_to('Log In', "login")
	         end
	         %>
	      </li>
            </ul>
          </div>
        </div> <!-- end sitename --> <!-- END SLOGAN -->
      </div>
     </div><!-- END HEADERINNER -->
   <div id="navigation">
     <del class="wrap">
       <ul>
         <li class="leaf first active-trail">
	   <li class="expanded active-trail">
	     <a href="<%= AppConfig.mainnav['main_nav_option1_link'] %>" title="" class="active"><%= t('mainnav.main_nav_option1_name')%></a>
	     <ul>
	       <li class="leaf first">
	         <a href="/profshow" title="" class="active"><%= t('mainnav.profile')%></a>
	        </li>
	     </ul>
	 </li>
         <li class="leaf">
           <a href="<%= AppConfig.mainnav['main_nav_option2_link'] %>"><%= t('mainnav.main_nav_option2_name')%></a></li>
	 </li>
	 <li class="leaf">
           <a href="<%= AppConfig.mainnav['main_nav_option3_link'] %>"><%= t('mainnav.main_nav_option3_name')%></a></li>
	 </li>
	 <li class="leaf">
           <a href="<%= AppConfig.mainnav['main_nav_option4_link'] %>"><%= t('mainnav.main_nav_option4_name')%></a></li>
	 </li>
	 <li class="leaf last">
           <a href="<%= AppConfig.mainnav['main_nav_option5_link'] %>"><%= t('mainnav.main_nav_option5_name')%></a></li>
	 </li>
       </ul>
     </del> 
   </div><!-- END NAVIGATION -->
  </div><!-- END WRAPPER -->
</div><!-- END HEADER -->
<div id="maincontent">
  <div class="wrapper"><!-- END LEFT SIDEBAR -->
    <div id="main">
      <%= 
	  if AppConfig.debug_visible && !session.empty?
	      o = Array.new
	      #session.sort.each do |k, v|
	      session.each do |k, v|
	          next if k.nil? or v.nil?
	          next if k.to_s.match(/^up_/)
	          o.push(k.to_s + '=' + v.to_s)
	      end
	      raw(o.join('<br>'))
	  else
	      'session hash is empty' if AppConfig.debug_visible
	  end
      %>
      <%= debug rc if AppConfig.debug_visible %>
      <%= debug @_current_user if AppConfig.debug_visible %>
      <%= debug session[:current_user_id] if AppConfig.debug_visible %>
      <%= debug params if AppConfig.debug_visible %>
      <%= debug request.fullpath if AppConfig.debug_visible %>
      <%= 
	 if !session[:notice].blank?
	     o = Array.new
	     o.push('<h3>Notice: ')
	     o.push(session[:notice])
	     o.push('</h3>')
	     session[:notice] = nil
	     raw(o.join(' '))
	 else
	     ''
	 end
       %>
      <%=
       if rc == 2 && session[:up_Name].blank?
           flash.now[:error] = 'No user name!'
	   session[:up_Name] = 'unknown'
       end

       if params[:action] == 'error' || session[:error]
           render 'login_error'
       elsif params[:action] == 'pwrdforgot1' 
           render 'login_password_forgot'
       elsif params[:action] == 'pwrdreset1' 
           render 'login_password_reset'
       elsif rc == 2 && !session[:profile].blank?
           if session[:profile] == 'show'
	   	render 'login_profile_show'
	   elsif session[:profile] == 'edit'
	        render 'login_profile_edit'
           end
       elsif rc == 2 && session[:pwrdmgmt] == 'edit'
	   render 'login_password_edit'
       elsif rc == 2
         render 'login_ok'
       elsif rc == 4
         render 'login_timeout'
       else
         render 'login'
       end
      %>
    </div>

  <div id="sidebar-right" class="sidebar">
    <div class="block right-region deter-block clear-block" id="block-deter-0">
      <h3>
        <%= 
         if rc == 2
           t('rightgutter.loggedin')
         else
           t('rightgutter.notloggedin')
         end
	 %>
      </h3>
        <%= 
         if rc == 2
	   text = '<p>' + session[:up_Name] + '</p>'
	   raw(text)
         end
	 %>
    </div>
    <div class="block right-region deter-block clear-block" id="block-deter-1">
      <h3>Documentation</h3>
      <div class="item-list">
        <ul>
          <li class="leaf"><a href="<%= AppConfig.rightgutter['docsurl'] %>"><%= t('rightgutter.docs')%></a></li>
          <li class="leaf"><a href="<%= AppConfig.rightgutter['docseduurl'] %>"><%= t('rightgutter.docsedu')%></a></li>
        </ul>
      </div>
    </div>
    <div class="block right-region deter-block clear-block" id="block-deter-2">
      <h3><a href="<%= AppConfig.rightgutter['supporturl'] %>"><%= t('rightgutter.support')%></a></h3>
    </div>
    <div class="block right-region deter-block clear-block" id="block-deter-3">
      <h3><%=t('rightgutter.information.header')%></h3>
      <div class="item-list">
        <ul>
          <li class="leaf"><a href="<%= AppConfig.rightgutter['usageurl'] %>"><%= t('rightgutter.usage')%></a></li>
          <li class="leaf"><a href="<%= AppConfig.rightgutter['newsurl'] %>"><%= t('rightgutter.news')%></a></li>
          <li class="leaf"><%= t('rightgutter.downtime')%><br><%= t('rightgutter.downtimetext')%></li>
        </ul>
      </div>
    </div>
  </div><!-- END SIDEBAR RIGHT -->
  <div class="clear"> </div>

    </div> <!-- end of node-1 -->
    <!-- START FOOTER -->
    </div>
    <div id="footer">
      <div class="block contentfooter-region menu-block clear-block" id="block-menu-menu-footer-links">
	<table align="center" bgcolor="black">
	  <td>
	    <a href='https://www.isi.deterlab.net'>
	      <%= image_tag(AppConfig.footer['deterlablogo'],"size" => "133x40", "alt" => "isi.deterlab.net - the network testbed")%>
	    </a>
	  </td>
	  <td>
            <ul class="menu">
              <li class="leaf first active-trail"><a href="<%=AppConfig.footer['deterprojecturl']%>" class="active"><%=t('footer.deterprojectlinktext')%></a></li>
              <li class="leaf"><a href="<%=AppConfig.footer['privacyurl']%>" class="active"><%=t('footer.privacypolicylinktext')%></a></li>
              <li class="leaf"><a href="<%=AppConfig.footer['usageurl']%>" class="active"><%=t('footer.usagepolicylinktext')%></a></li>
              <li class="leaf"><a href="<%=AppConfig.footer['contacturl']%>" class="active"><%=t('footer.contact')%></a></li>
	      <li class="leaf last">
                <a href="<%=AppConfig.footer['deterprojecturl']%>" class="active">
		  DeterLab Version <%= deterVersion %>
		</a>
	      </li>
	    </ul>
            <%= t('footer.copyright') %>
	  </td>
	  <td>
	    <a href='http://www.emulab.net'>
	      <%= image_tag(AppConfig.footer['emulablogo'],"size" => "123x36","alt" => "Emu Lab")%>
	    </a>
	  </td>
	</tr>
        </table>
      </div>
    </div>
    </div> <!-- END FOOTER -->
  </div><!-- END MAINCONTENT-->

<!-- END index.html.erb -->
