<!-- START new.html.erb -->
<!-- 
HISTORY
Fri Jul 19 13:22:13 UTC 2013 BFH v0.2, try a SOAP transaction
Thu Jul 18 15:40:08 UTC 2013 BFH v0.2, moving to partial views to reflect state
Wed Jul 17 13:43:54 UTC 2013 BFH v0.2, more localization
Tue Jul 16 14:02:06 UTC 2013 BFH v0.2, moving toward single, stateful page & localization
Sun Jul 14 16:16:58 UTC 2013 BFH v0.1, adapt http://info.deterlab.net
-->

<div id="header">
  <div class="wrapper">
    <div id="headerinner">
      <div id="headercontent">
        <h1 id="site-name"><a href="/" title="Home" rel="home" id="masthead_link"></a></h1>
        <div id="headerlinks">
          <div class="block top-region menu-block clear-block" id="block-menu-menu-header-links">
            <ul class="menu">
              <li class="leaf last"><a href="<%= AppConfig.headlinenav['contacturl'] %>"><%= t('headerlinenav.contact')%></a></li>
              <li class="leaf"><a href="<%= AppConfig.headlinenav['deterprojecturl'] %>"><%= t('headerlinenav.deterproject')%></a></li>
            </ul>
          </div>
        </div> <!-- end sitename --> <!-- END SLOGAN -->
      </div>
    </div><!-- END HEADERINNER -->
  </div><!-- END WRAPPER -->
</div><!-- END HEADER -->
<div id="maincontent">
  <div class="wrapper"><!-- END LEFT SIDEBAR -->
    <div id="main">
      <%=
       rc = loginStatus
       if rc == 0
         render 'login'
       elsif rc == 1
         render 'login_verify'
       elsif rc == 2
         render 'login_ok'
       elsif rc == 3
         render 'login_failed'
       end
      %>
    </div>

  <div id="sidebar-right" class="sidebar">
    <div class="block right-region deter-block clear-block" id="block-deter-1">
      <h3><%= loginStatusText %> </h3>
    </div>
    <div class="block right-region deter-block clear-block" id="block-deter-1">
      <h3><%=t('rightgutter.usage')%></h3>
      <div class="item-list">
      </div>
    </div>
    <div class="block right-region deter-block clear-block" id="block-deter-1">
      <h3><%=t('rightgutter.news')%></h3>
      <div class="item-list">
      </div>
    </div>
    <div class="block right-region deter-block clear-block" id="block-deter-0">
      <h3>Downtime</h3>
      <div class="item-list">
        <p><%=t('rightgutter.downtime')%></p>
      </div>
    </div>
    <div class="block right-region deter-block clear-block" id="block-deter-0">
      <h3><a href="<%= AppConfig.headlinenav['deterprojecturl'] %>"><%= t('rightgutter.contact')%></a></h3>
    </div>
    <div class="block right-region deter-block clear-block" id="block-deter-0">
      <h3>Documentation</h3>
      <div class="item-list">
        <ul>
          <li class="leaf"><a href="<%= AppConfig.rightgutter['docsurl'] %>"><%= t('rightgutter.docs')%></a></li>
          <li class="leaf"><a href="<%= AppConfig.rightgutter['docseduurl'] %>"><%= t('rightgutter.docsedu')%></a></li>
      </div>
    </div>
    <div class="block right-region deter-block clear-block" id="block-deter-0">
      <h3><a href="<%= AppConfig.rightgutter['supporturl'] %>"><%= t('rightgutter.support')%></a></h3>
    </div>
  </div><!-- END SIDEBAR RIGHT -->
  <div class="clear"> </div>

    </div> <!-- end of node-1 -->
    <!-- START FOOTER -->
    <div id="footer">
      <div class="block contentfooter-region menu-block clear-block" id="block-menu-menu-footer-links">
        <ul class="menu">
          <li class="leaf first active-trail"><a href="<%=AppConfig.footer['usageurl']%>" class="active"><%=t('footer.usage')%></a></li>
          <li class="leaf"><a href="<%= AppConfig.footer['privacyurl'] %>"><%= t('footer.privacy')%></a></li>
          <li class="leaf"><a href="<%= AppConfig.footer['contacturl'] %>"><%= t('footer.contact')%></a></li>
	  <li class="leaf last"><%= deterVersion %></li>
        </ul>
<!--
        <div class="footer_logo">
	  <%= image_tag(AppConfig.footer['deterlablogo'])%>
	  <%= image_tag(AppConfig.footer['emulablogo'])%>
	</div>
-->
      </div>
    </div> <!-- END FOOTER -->
  </div><!-- END MAINCONTENT-->

<!-- END new.html.erb -->
